In [1]:
import plotly.graph_objects as go
import pandas as pd
import numpy as np

from sktime.forecasting.arima import ARIMA

import DataRetriever as dr

retriever = dr.DataRetriever()
year1 = retriever.get_data("All-Subsystems-hour-Year1.pkl")
year2 = retriever.get_data("All-Subsystems-hour-Year2.pkl")

c:\users\magnu\appdata\local\programs\python\python39\lib\site-packages\sktime\utils\validation\series.py:21: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  VALID_INDEX_TYPES = (pd.Int64Index, pd.RangeIndex, pd.PeriodIndex, pd.DatetimeIndex)
c:\users\magnu\appdata\local\programs\python\python39\lib\site-packages\sktime\forecasting\base\_fh.py:18: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  RELATIVE_TYPES = (pd.Int64Index, pd.RangeIndex)
c:\users\magnu\appdata\local\programs\python\python39\lib\site-packages\sktime\forecasting\base\_fh.py:19: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  ABSOLUTE_TYPES = (pd.Int64Index, pd.RangeIndex, pd.DatetimeIndex, pd.PeriodIndex)
c:\users\magnu\appdata\local\programs\python\python39\lib\site-packages\sktime\datatypes\_series\_check.py:43: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  VALID_INDEX_TYPES = (pd.Int64Index, pd.RangeIndex, pd.PeriodIndex, pd.DatetimeIndex)
c:\users\magnu\appdata\local\programs\python\python39\lib\site-packages\sktime\datatypes\_hierarchical\_check.py:50: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  VALID_INDEX_TYPES = (pd.Int64Index, pd.RangeIndex, pd.PeriodIndex, pd.DatetimeIndex)
c:\users\magnu\appdata\local\programs\python\python39\lib\site-packages\sktime\datatypes\_hierarchical\_check.py:51: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  VALID_MULTIINDEX_TYPES = (pd.Int64Index, pd.RangeIndex)
c:\users\magnu\appdata\local\programs\python\python39\lib\site-packages\sktime\datatypes\_panel\_check.py:48: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  VALID_INDEX_TYPES = (pd.Int64Index, pd.RangeIndex, pd.PeriodIndex, pd.DatetimeIndex)
c:\users\magnu\appdata\local\programs\python\python39\lib\site-packages\sktime\datatypes\_panel\_check.py:49: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  VALID_MULTIINDEX_TYPES = (pd.Int64Index, pd.RangeIndex)

In [2]:
gen_year2 = year2[year2["PV_Watts3PhTotalW3PhT1"].isna() == False]
gen_year2 = gen_year2[gen_year2["PV_Watts3PhTotalW3PhT2"].isna() == False] #There are 87 rows with NaN values.

print(f"A total of {len(year2) - len(gen_year2)} rows have been dropped since they have NaN values.")

gen_year2["Generated Energy"] = (gen_year2["PV_Watts3PhTotalW3PhT1"].to_numpy() + gen_year2["PV_Watts3PhTotalW3PhT2"].to_numpy())
gen_year2 = gen_year2[["Generated Energy"]] / 1e3 #Convert Wh to kWh
gen_year2

A total of 87 rows have been dropped since they have NaN values.

                     Generated Energy
Timestamp
2015-02-01 00:00:00          0.018496
2015-02-01 01:00:00          0.018332
2015-02-01 02:00:00          0.018385
2015-02-01 03:00:00          0.018502
2015-02-01 04:00:00          0.018524
...                               ...
2016-01-31 19:00:00          0.017710
2016-01-31 20:00:00          0.017940
2016-01-31 21:00:00          0.018149
2016-01-31 22:00:00          0.018209
2016-01-31 23:00:00          0.018283

[8673 rows x 1 columns]

In [4]:
gen_df = gen_year2

gen_df = gen_df.resample('d').sum()
gen_df

            Generated Energy
Timestamp
2015-02-01         12.958986
2015-02-02          0.010302
2015-02-03         41.425352
2015-02-04         40.553641
2015-02-05         42.718180
...                      ...
2016-01-27         33.832924
2016-01-28         43.440532
2016-01-29         27.944539
2016-01-30         46.313858
2016-01-31         40.566374

[365 rows x 1 columns]

In [ ]:
from sktime.forecasting.arima import AutoARIMA

forecaster = AutoARIMA()